/* Containers
----------------------------------------------------------------------------------------------------*/
.container_17 {
	margin-left: auto;
	margin-right: auto;
	width: 952px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,.grid_17{
	display:inline;
	float: left;
	position: relative;
	margin-left: 10.0px;
	margin-right: 10.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_17 .grid_1{
	width:36px;
}

.container_17 .grid_2{
	width:92px;
}

.container_17 .grid_3{
	width:148px;
}

.container_17 .grid_4{
	width:204px;
}

.container_17 .grid_5{
	width:260px;
}

.container_17 .grid_6{
	width:316px;
}

.container_17 .grid_7{
	width:372px;
}

.container_17 .grid_8{
	width:428px;
}

.container_17 .grid_9{
	width:484px;
}

.container_17 .grid_10{
	width:540px;
}

.container_17 .grid_11{
	width:596px;
}

.container_17 .grid_12{
	width:652px;
}

.container_17 .grid_13{
	width:708px;
}

.container_17 .grid_14{
	width:764px;
}

.container_17 .grid_15{
	width:820px;
}

.container_17 .grid_16{
	width:876px;
}

.container_17 .grid_17{
	width:932px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_17 .prefix_1 {
	padding-left:56px;
}

    .container_17 .prefix_2 {
	padding-left:112px;
}

    .container_17 .prefix_3 {
	padding-left:168px;
}

    .container_17 .prefix_4 {
	padding-left:224px;
}

    .container_17 .prefix_5 {
	padding-left:280px;
}

    .container_17 .prefix_6 {
	padding-left:336px;
}

    .container_17 .prefix_7 {
	padding-left:392px;
}

    .container_17 .prefix_8 {
	padding-left:448px;
}

    .container_17 .prefix_9 {
	padding-left:504px;
}

    .container_17 .prefix_10 {
	padding-left:560px;
}

    .container_17 .prefix_11 {
	padding-left:616px;
}

    .container_17 .prefix_12 {
	padding-left:672px;
}

    .container_17 .prefix_13 {
	padding-left:728px;
}

    .container_17 .prefix_14 {
	padding-left:784px;
}

    .container_17 .prefix_15 {
	padding-left:840px;
}

    .container_17 .prefix_16 {
	padding-left:896px;
}

    .container_17 .prefix_17 {
	padding-left:952px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_17 .suffix_1 {
	padding-right:56px;
}

    .container_17 .suffix_2 {
	padding-right:112px;
}

    .container_17 .suffix_3 {
	padding-right:168px;
}

    .container_17 .suffix_4 {
	padding-right:224px;
}

    .container_17 .suffix_5 {
	padding-right:280px;
}

    .container_17 .suffix_6 {
	padding-right:336px;
}

    .container_17 .suffix_7 {
	padding-right:392px;
}

    .container_17 .suffix_8 {
	padding-right:448px;
}

    .container_17 .suffix_9 {
	padding-right:504px;
}

    .container_17 .suffix_10 {
	padding-right:560px;
}

    .container_17 .suffix_11 {
	padding-right:616px;
}

    .container_17 .suffix_12 {
	padding-right:672px;
}

    .container_17 .suffix_13 {
	padding-right:728px;
}

    .container_17 .suffix_14 {
	padding-right:784px;
}

    .container_17 .suffix_15 {
	padding-right:840px;
}

    .container_17 .suffix_16 {
	padding-right:896px;
}

    .container_17 .suffix_17 {
	padding-right:952px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_17 .push_1 {
	left:56px;
}

    .container_17 .push_2 {
	left:112px;
}

    .container_17 .push_3 {
	left:168px;
}

    .container_17 .push_4 {
	left:224px;
}

    .container_17 .push_5 {
	left:280px;
}

    .container_17 .push_6 {
	left:336px;
}

    .container_17 .push_7 {
	left:392px;
}

    .container_17 .push_8 {
	left:448px;
}

    .container_17 .push_9 {
	left:504px;
}

    .container_17 .push_10 {
	left:560px;
}

    .container_17 .push_11 {
	left:616px;
}

    .container_17 .push_12 {
	left:672px;
}

    .container_17 .push_13 {
	left:728px;
}

    .container_17 .push_14 {
	left:784px;
}

    .container_17 .push_15 {
	left:840px;
}

    .container_17 .push_16 {
	left:896px;
}

    .container_17 .push_17 {
	left:952px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_17 .pull_1 {
	right:56px;
}

    .container_17 .pull_2 {
	right:112px;
}

    .container_17 .pull_3 {
	right:168px;
}

    .container_17 .pull_4 {
	right:224px;
}

    .container_17 .pull_5 {
	right:280px;
}

    .container_17 .pull_6 {
	right:336px;
}

    .container_17 .pull_7 {
	right:392px;
}

    .container_17 .pull_8 {
	right:448px;
}

    .container_17 .pull_9 {
	right:504px;
}

    .container_17 .pull_10 {
	right:560px;
}

    .container_17 .pull_11 {
	right:616px;
}

    .container_17 .pull_12 {
	right:672px;
}

    .container_17 .pull_13 {
	right:728px;
}

    .container_17 .pull_14 {
	right:784px;
}

    .container_17 .pull_15 {
	right:840px;
}

    .container_17 .pull_16 {
	right:896px;
}

    .container_17 .pull_17 {
	right:952px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}